In [1]:
# 이번에는 pansdas에 대해 알아보아요!!
# Pandas는 ndarray(NumPy)를 기본 자료구조로 이용
# 이 ndarray를 가지고 pandas는 두개의 또 다른 자료구조를 이용
# Series, DataFrame

# Series : 동일한 데이터 타입의 복수개의 성분으로 구성되는 자료구조. (1차원)
# DataFrame:


import numpy as np
import pandas as pd

# ndarray
arr = np.array([-1, 4, 5, 99], dtype=np.float64)
# print(arr)

# pandas의 Series부터 만들어 보아요!
s = pd.Series([-1, 4, 5, 99], dtype=np.float64)
print(s)
print(s.values)   # [-1.  4.  5. 99.] ndarray
print(s.index)    # RangeIndex(start=0, stop=4, step=1)
print(s.dtype)    # float64

0    -1.0
1     4.0
2     5.0
3    99.0
dtype: float64
[-1.  4.  5. 99.]
RangeIndex(start=0, stop=4, step=1)
float64

In [13]:
# Series 생성 시 index를 별도로 지정할 수 있어요! => list로 지정할 수 있어요.
# 숫자 index는 기본으로 사용이 가능!!

# s = pd.Series([1, -8, 5, 10], dtype=np.float64, index=['c', 'd', 'a', 'k'])
# print(s)
# print(s[0])
# print(s['c'])

# 그러면 만약 index를 우리가 새로 지정해서 사용할 때 같은 index가 있으면 어떻게 되나요?
# 안될거 같은데 실제로는 된다

s = pd.Series([1, -8, 5, 10], dtype=np.float64, index=['c', 'd', 'c', 'k'])
# print(s['c'])    # c    1.0
                 # c    5.0
    
# Series에서 slicing도 가능한가요?
print(s[1:3])      # Series로 결과 return
print(s['d':'k'])  # 숫자 인덱스로 slicing한 결과와 살짝 달라요
                   # 문자인덱스로 slicing하면 숫자 인덱스로 하는 경우와 달라요
    
# boolean Indexing
print(s[s % 2 == 0])

# Fancy Indexing
print(s[[0,2,3]])

# NumPy에서 했던 여러가지 작업들이 그대로 사용될 수 있어요!!
s.sum()

d   -8.0
c    5.0
dtype: float64
d    -8.0
c     5.0
k    10.0
dtype: float64
d    -8.0
k    10.0
dtype: float64
c     1.0
c     5.0
k    10.0
dtype: float64

8.0

In [27]:
# Series 연습문제를 해결하면서 약간의 특성을 좀 더 알아보야요!

# A공장 2020-01-01부터 10일간 생산량을 Series로 저장할거에요
# 생산량은 어떻게 결정되냐면 평균이 50이고 표준편차가 5인 정규분포에서 
# 랜덤하게 생성(정수로 처리)

# B공장의 2020-01-01부터 10일간 생산량을 Series로 저장해요
# 생산량은 평균이 70이고 표준편차가 8인 정규분포에서 추출


#       index    value
# 예) 2020-01-01  53
# 예) 2020-01-02  49
#       ...       ...

# Series를 만들어 보아요!!

import numpy as np
import pandas as pd
from datetime import date, datetime, timedelta

start_day = datetime(2020,1,1)

factory_A = pd.Series([int(x) for x in np.random.normal(50,5,(10,))],
                     index=[start_day + timedelta(days=x) for x in range(10)])

factory_B = pd.Series([int(x) for x in np.random.normal(70,8,(10,))],
                     index=[start_day + timedelta(days=x) for x in range(10)])
print(factory_A)
print(factory_B)

## 날짜별 모든 공장의 생산량 합계를 구해보아요
print('=================')
print(factory_A + factory_B)   # 사실은 index를 기준으로 같은 index끼리 더하는거에요


b_start_day = datetime(2020,1,5)
factory_B = pd.Series([int(x) for x in np.random.normal(70,8,(10,))],
                     index=[b_start_day + timedelta(days=x) for x in range(10)])
print(factory_B)

2020-01-01    52
2020-01-02    57
2020-01-03    48
2020-01-04    49
2020-01-05    59
2020-01-06    55
2020-01-07    48
2020-01-08    49
2020-01-09    49
2020-01-10    50
dtype: int64
2020-01-01    73
2020-01-02    67
2020-01-03    67
2020-01-04    75
2020-01-05    67
2020-01-06    74
2020-01-07    77
2020-01-08    70
2020-01-09    78
2020-01-10    57
dtype: int64
=================
2020-01-01    125
2020-01-02    124
2020-01-03    115
2020-01-04    124
2020-01-05    126
2020-01-06    129
2020-01-07    125
2020-01-08    119
2020-01-09    127
2020-01-10    107
dtype: int64
2020-01-05    77
2020-01-06    57
2020-01-07    64
2020-01-08    62
2020-01-09    66
2020-01-10    72
2020-01-11    67
2020-01-12    81
2020-01-13    66
2020-01-14    83
dtype: int64

In [29]:
start_day = datetime(2020,1,1)

factory_A = pd.Series([int(x) for x in np.random.normal(50,5,(10,))],
                     index=[start_day + timedelta(days=x) for x in range(10)])

b_start_day = datetime(2020,1,5)
factory_B = pd.Series([int(x) for x in np.random.normal(70,8,(10,))],
                     index=[b_start_day + timedelta(days=x) for x in range(10)])
print(factory_A)
print(factory_B)

# 시작 날짜가 달라요 => index가 달라요 이런경우는?
print(factory_A + factory_B)

2020-01-01    46
2020-01-02    47
2020-01-03    40
2020-01-04    51
2020-01-05    50
2020-01-06    47
2020-01-07    47
2020-01-08    49
2020-01-09    57
2020-01-10    53
dtype: int64
2020-01-05    56
2020-01-06    73
2020-01-07    61
2020-01-08    81
2020-01-09    82
2020-01-10    69
2020-01-11    64
2020-01-12    60
2020-01-13    75
2020-01-14    68
dtype: int64
2020-01-01      NaN
2020-01-02      NaN
2020-01-03      NaN
2020-01-04      NaN
2020-01-05    106.0
2020-01-06    120.0
2020-01-07    108.0
2020-01-08    130.0
2020-01-09    139.0
2020-01-10    122.0
2020-01-11      NaN
2020-01-12      NaN
2020-01-13      NaN
2020-01-14      NaN
dtype: float64

In [33]:
s = pd.Series([1, 2, 3, 4])
print(s)

# 새로운 데이터를 Series에 추가하려면?
# s[4] = 100
# s[6] = 100

# print(s)

# Series에서 특정 index를 삭제하려면?
s = s.drop(2)   # 원본은 건드리지 않음
print(s)

0    1
1    2
2    3
3    4
dtype: int64
0    1
1    2
3    4
dtype: int64

In [44]:
# python의 dictionary를 이용해서 Series를 만들 수 있어요!!
# dictionary의 key가 index가 되요

import numpy as np
import pandas as pd

my_dict = { '서울':1000, '부산':2000, '제주':3000 }

s = pd.Series(my_dict)

s.name = '지역별 가격 데이터'
s.index.name = '지역명'
print(s)

print(s.values)

지역명
서울    1000
부산    2000
제주    3000
Name: 지역별 가격 데이터, dtype: int64
[1000 2000 3000]

In [53]:
# pandas DataFrame 생성!!
# python dictionary를 가지고 만들어요!!

# dictionary로 DataFrame을 생성할 때 데이터의 개수가 맞지 않으면 Error발생
# dictionary의 key가 DataFrame의 column으로 들어가게 됩니다. 
# DataFrame은 Sereis의 집합으로 구성됩니다. (각각의 column이 Series)

import numpy as np
import pandas as pd

# dictionary
data = {'names': ['아이유', '김연아', '홍길동', '강감찬', '이순신'],
           'year':[2015, 2019, 2020, 2013, 2017],
           'points':[3.5, 1.5, 2.0, 3.4, 4.0]}

# DataFrame
df = pd.DataFrame(data)

# 출력을 해보아요!! 출력할 때 print()로 사용했지만
# DataFrame을 출력할 때는 display()를 이용해서 출력하는게 좋아요

display(df)

# 기억해야 하는 속성을 알아보아요
print(df.shape)  # tuple로 표현되구요!! (5, 3)
print(df.size)   # 15
print(df.ndim)   # 2

  names  year  points
0   아이유  2015     3.5
1   김연아  2019     1.5
2   홍길동  2020     2.0
3   강감찬  2013     3.4
4   이순신  2017     4.0

(5, 3)
15
2

In [58]:
# DataFrame의 index, values, columns

import numpy as np
import pandas as pd

# dictionary
data = {'names': ['아이유', '김연아', '홍길동', '강감찬', '이순신'],
           'year':[2015, 2019, 2020, 2013, 2017],
           'points':[3.5, 1.5, 2.0, 3.4, 4.0]}

# DataFrame
df = pd.DataFrame(data)
display(df)
 
print(df.index)       # RangeIndex(start=0, stop=5, step=1)
print(df.columns)     # Index(['names', 'year', 'points'], dtype='object')
print(df.values)      # 2차원 ndarray

df.index.name = '학번'
df.columns.name = '학생정보'
display(df)

  names  year  points
0   아이유  2015     3.5
1   김연아  2019     1.5
2   홍길동  2020     2.0
3   강감찬  2013     3.4
4   이순신  2017     4.0

RangeIndex(start=0, stop=5, step=1)
Index(['names', 'year', 'points'], dtype='object')
[['아이유' 2015 3.5]
 ['김연아' 2019 1.5]
 ['홍길동' 2020 2.0]
 ['강감찬' 2013 3.4]
 ['이순신' 2017 4.0]]

학생정보 names  year  points
학번
0      아이유  2015     3.5
1      김연아  2019     1.5
2      홍길동  2020     2.0
3      강감찬  2013     3.4
4      이순신  2017     4.0

In [59]:
### 기본적으로 python의 dictionary를 이용해서 DataFrame을 생성하는 방법

In [70]:
### DataFrame을 생성하는 다양한 방법 1. CSV파일을 이용해서 DataFrame을 생성

# CSV 파일을 하나 만들어서 DataFrame을 생성해 보아요!
# student.csv
# d:/notebook_dir/data/student.csv 생성 (txt파일로 만들면 됨)

df = pd.read_csv('./data/student.csv')

display(df)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc0 in position 0: invalid start byte

In [66]:
import pandas as pd

df = pd.read_csv('./data/movies.csv')
# display(df)


# 처음부터 5개의 행만 출력하려면 어떻게 해야 하나요??
display(df.head())
# 끝부터 역방향으로 5개의 행만 출력하려면 어떻게 해야 하나요??
display(df.tail())
# pandas는 문자열 처리시 numpy보다 훨씬 효율적인 방법을 제공!!

# 가장 많이 사용되는 CSV파일로부터 DataFrame을 생성하는 방법!!

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [1]:
### DataFrame을 생성하는 다양한 방법 2. DataFrame파일을 이용해서 DataFrame을 생성

# 여러가지 데이터베이스 제품들이 있어요
# 데이터베이스?
# 데이터베이스는 일반적으로 정제된, 연관성이 있는 자료의 집합
# 우리는 이런 데이터베이스를 활용하고 싶어요. CS분야에서는 데이터베이스가 파일에 저장되어 있어요
# 이런 데이터베이스를 다루기 위한 프로그램이 필요해요
# 이런 프로그램들을 DBMS(DataBase Management System)이라고 한다.
# Oracle, Cybase, DB2, Infomix, MySQL, SQLite, etc...
# MySQL을 가지고 데이터베이스를 구축한 후 이 데이터를 pandas의 DataFrame으로 가져올 거에요!

# MySQL이라는 DBMS로 데이터베이스를 생성해서 데이터베이스를 구축해요!
# 그 안에 있는 데이터를 추출해서 DataFrame으로 생성

# 사용할 MySQL버전은 5.6버전을 사용할 꺼에요
# 추후에 프로젝트에서 Database에 쌓여있는 데이터를 가져다가 분석 학습작업을 진행해야 하는데
# 이때 데이터 정제하고 전처리 하는데 pandas가 이용될 예정

# 1. MySQL 5.6버전을 다운로드한 후 바탕화면에 압축을 풀어요!
# 2. mysqld를 실행해서 MySQL DBMS Server를 시작해요
# 3. MySQL Server를 실행시켰기 때문에 MySQL console에 들어갈 수 있어요!! => MySQL 시스템에 접속할 수 있어요
# 4. MySQL Server를 정상적으로 중지하려면 새로운 command창을 띄워요!!
#    해당 bin폴더로 이동 => mysqladmin -u root shutdown
# 5. MySQL Server를 다시 기동시킨 후 
# 6. MySQL 시스템에 접속해요! => command창을 열어서 다음의 명령을 입력해요!
#    ==> mysql -u root
#    ==> root 유저 권한으로 mysql 시스템에 접속할 꺼에요!!
# 7. 새로운 사용자를 생성해요!!
#    ==> create user data identified by "data";
# 8. 새로운 사용자를 하나 더 생성해야 합니다.
#    ==> create user data@localhost identified by "data";
# 9. 데이터베이스를 생성해야 해요!!
#    ==> create database library;
# 10.생성한 데이터베이스(library)에 대한 사용권한을 새롭게 생성한 data 사용자에게 부여!
#    ==> grant all privileges on library.* to data;
#    생성한 사용자가 data@localhost도 있기 때문에
#    ==> grant all privileges on library.* to data@localhost;
# 11.지금까지 작업한 권한부여작업을 flush
#    ==> flush privileges;
# 12 . 작업이 완료되었으니 console을 종료!!
#    ==> exit;
# 13. 제공된 파일을 이용해서 실제 사용할 데이터베이스를 구축해 보아요
# 14. 파일을 복사한 다음 다음의 명령어를 도스창에서 실행!!
#     ==> mysql -u data -p library < _BookTableDump.sql

# 데이터베이스 구축이 끝났으니 pandas로 데이터베이스에 접속해서 데이터를 가져다가 DataFrame으로 만들어 보아요
# 그런데 특별한 기능을 사용하고 있어요
# python으로 MySQL database를 사용하는 기능을 하려고 해요!
# 이 기능을 하기 위한 package(module)이 필요해요!
# 이 module을 설치해야 해요! => pip install pymysql

import pandas as pd
import pymysql.cursors

# pymysql이라는 module을 이용해서 데이터베이스에 연결

conn = pymysql.connect(host='localhost',
                       user='data',
                       password='data',
                       db='library',
                       charset='utf8')

# 데이터베이스에 접속되면 SQL문을 실행시켜서 Database로부터 데이터를 가져온 후 이놈을 DataFrame으로 생성
sql = 'select btitle, bauthor, bprice from book'

df = pd.read_sql(sql, conn)
display(df)

                                          btitle             bauthor  bprice
0                                    C로 구현한 알고리즘  카일 루든(Kyle Loudon)   25000
1                        IT EXPERT, 모바일 자바 프로그래밍            권기경, 박용우   23000
2                   초보자를 위한 Linux & Unix C 프로그래밍       김종훈, 김종진, 김동균   28000
3                                 스트럿츠 프레임워크 워크북                 박재성   20000
4                                      나는 프로그래머다             임백준외 6명   12800
..                                           ...                 ...     ...
743         허리만 펴도 다이어트 : 날씬 체질로 바꿔주는 하루 1분 스트레칭             기즈 다다아키   10000
744                          마사 스튜어트 미술놀이대백과 175          마사 스튜어트 리빙   18000
745                            잘 자고 잘 먹는 아기의 시간표                 정재호   13800
746  엄마는 약 선생 : 먹이고 바르고 붙이기 전에 꼭 봐야 할 아이 약 사용설명서                 윤수진   13800
747                 뇌를 자극하는 오라클 프로그래밍 SQL&PL/SQL                 홍형경   27000

[748 rows x 3 columns]